{% extends "notes/base.html" %}

{% block content %}
    <h2>Notes</h2>
    {% for note in my_notes %}
        <div class="notes-list-item">
            <a href="{{note.id}}">{{ note.title }}</a>
            <span class="date-in-list">({{ note.date_created|date:"d.m.Y" }})</span>
            <a href="{% url 'note-delete' pk=note.id %}" >
              <span style="float:right"><button type="button" class="buttons-in-list">del</button></span>
            </a>
            <a href="{% url 'note-update' pk=note.id %}" >
              <span style="float:right"><button type="button" class="buttons-in-list">edit</button></span>
            </a>
        </div>
    {% endfor %}
    <br>
<!--    <a href="{% url 'note-add' %}">Add new note</span></a> -->
    <br><br>
{% endblock %}
