<!DOCTYPE html>
<html lang="en">

<head>
	<title>Thomas's Job Title Generator</title>
	<meta charset="utf-8" />
	{% load static %}
	<link rel="shortcut icon" href="{%  static 'jobtitlegenerator/images/favicon.ico' %}">
	<link rel='stylesheet' href="{% static 'jobtitlegenerator/css/jobtitlegenerator.css' %}" type='text/css' />
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body>

<header>
        <div class="header">
            <h1>Thomas's Job Title Generator</h1>
        </div>
</header>

<div class="container-main">

<!-- TODO -->

</div>

<footer>
    <div class="footer">
        <p>
        <a href="/admin/">Admin</a> |
        <a href="https://www.linkedin.com/in/tomas-krivda-01574734" target="_blank">LinkedIn</a> |
        <a href="https://twitter.com/tomas_krivda" target="_blank">Twitter</a> |
        <a href="https://www.reddit.com/user/krivdat" target="_blank">Redit</a></p>
    </div>
</footer>

</body>

</html>
